<p>Guidelines for categories</p>
<ul>
  <li>Make sure you add a name and some body content to your category</li>
  <li>The slug field will be dispayed in the navigation bar of your browser on the category page. It will be created if you don't enter one.</li>
  <li>Meta title and description will be automatically created based on your title and body content.</li>
</ul>
<hr />
