<div class="section-header with-navigation">
  <h1>Categories</h1>
  <div class="btn-toolbar">
    <%= link_to 'Add Category', new_category_path, class:'btn btn-secondary' %>
    <%= link_to 'Categories', o_cms.categories_path, class:'btn btn-secondary' %>
    <%= link_to 'Posts', posts_path, class:'btn btn-secondary' %>
  </div>
</div>
<hr />
