.bundle/
log/*.log
pkg/
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/public/uploads/
spec/dummy/rails-4/db/*.sqlite3
spec/dummy/rails-4/db/*.sqlite3-journal
spec/dummy/rails-4/log/*.log
spec/dummy/rails-4/tmp/
spec/dummy/rails-4/.sass-cache
spec/dummy/rails-4/.cache
spec/dummy/rails-4/public/uploads/
spec/dummy/rails-5/db/*.sqlite3
spec/dummy/rails-5/db/*.sqlite3-journal
spec/dummy/rails-5/log/*.log
spec/dummy/rails-5/tmp/
spec/dummy/rails-5/.sass-cache
spec/dummy/rails-5/.cache
spec/dummy/rails-5/public/uploads/
vendor/bundle
coverage
