<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= stylesheet_link_tag    "o_cms/application", media: "all" %>
    <%= javascript_include_tag "o_cms/application" %>
  </head>
  <body>

	<div class="container">
		<%= yield %>
	</div>

  </body>
</html>