<!DOCTYPE html>
<html>
<head>
  <title>OCms</title>
  <%= stylesheet_link_tag    "o_cms/application", media: "all" %>
  <%= javascript_include_tag "o_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
