/*

    Form styles

*/

.form-control-lg {
  padding: 0.75rem;
}

#featured_preview {
  display: block;
  margin: 0 auto 20px;
  max-height: 180px;
  width: auto;
  &.hide {
    display: none;
  }
}

trix-editor {
  min-height: 120px;
}
