/*

    Gallery

*/

// Gallery form image selection
.gallery-options{
  display: block;
  span{
    border: 3px solid #eee;
    margin: 2px 0px;
    position: relative;
    display: inline-block;
    input{
      position: absolute;
      bottom: 0;
      right: 0;
      &:checked {
        ~ .gallery-image-option {
          border: 3px solid $brand-primary;
          opacity: 1;
        }
      }
    }
    label{
      display: none;
    }
    img.gallery-image-option{
      width: 100px;
      height: 100px;
      opacity: 0.5;
    }
  }
}

// Library modal picker
.gallery-picker {
  overflow: hidden;
  img {
    cursor: pointer;
    float: left;
  	margin: 2px;
  }
  &.hide {
    display: none;
  }
}

// Modal insert html
#gallery_markup {
  display: none;
}

// Trix editor gallery style
ul.gallery {
  display: block;
  list-style: none;
  overflow: hidden;
  padding: 0;
  li {
    float: left;
    padding: 2px;
  }
}
