/*

    Gallery

*/

// Library modal picker
.gallery-picker {
  overflow: hidden;
  img {
    cursor: pointer;
    float: left;
  	margin: 2px;
  }
  &.hide {
    display: none;
  }
}

.gallery-options{
  display: block;
  span{
    border: 3px solid #eee;
    margin: 2px 0px;
    position: relative;
    display: inline-block;
    input{
      // display: none;
      position: absolute;
      bottom: 0;
      right: 0;

      &:checked {
        ~ .gallery-image-option {
          border: 3px solid $brand-primary;
          opacity: 1;
        }
      }
    }
    label{
      display: none;
    }
    img.gallery-image-option{
      width: 100px;
      height: 100px;
      opacity: 0.5;
    }
  }
}
