<p>Guidelines for images</p>
<ul>
  <li>Make sure you include a name for your image.</li>
  <li>Make sure the file type is an image file type e.g. gif, jpg, png.</li>
  <li>Description is optional but will be used when you embed or use the image.</li>
</ul>
<hr />
