<div class="section-header with-navigation">
  <h1>Pages</h1>
  <div class="btn-toolbar">
    <%= link_to 'Add Page', new_page_path, class:'btn btn-secondary' %>
    <%= link_to 'Pages', pages_path, class:'btn btn-secondary' %>
  </div>
</div>
<hr />
