<%= render :partial => 'o_cms/pages/navigation' %>

<h2>Pages</h2>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <%= render :partial => 'page_row', locals: { page: page, type: 'page' } %>
        <% page.subpages.each do |page| %>
          <%= render :partial => 'page_row', locals: { page: page, type: 'subpage' } %>
          <% page.subpages.each do |page| %>
            <%= render :partial => 'page_row', locals: { page: page, type: 'subsubpage' } %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
