<div class="jumbotron">
  <h1 class="display-3">Welcome to Outside CMS</h1>
  <p class="lead">This is a placeholder element to represent the Outside CMS dashboard.</p>
  <hr class="m-y-2">
  <p>You have reached this page beacuse you have the role admin and are logged in as <strong>name@email.com</strong></p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">Sign Out</a>
  </p>
</div>