<div class="section-header with-navigation">
  <h1>Library</h1>
  <div class="btn-toolbar">
    <%= link_to 'Add Gallery', new_gallery_path, class:'btn btn-secondary' %>
    <%= link_to 'Galleries', galleries_path, class:'btn btn-secondary' %>
    <%= link_to 'Images', images_path, class:'btn btn-secondary' %>
  </div>
</div>
<hr />
