<p>Guidelines for posts</p>
<ul>
  <li>Make sure you add a title and some body content to your post</li>
  <li>The slug field will be dispayed in the navigation bar of your browser</li>
  <li>The excerpt text box is the abbreviated description of your post, that visitors will read before reaching your posts page</li>
  <li>You can assign any image in the Library as the featured image</li>
</ul>
<hr />
