<div class="section-header with-navigation">
  <h1>Blog</h1>
  <div class="btn-toolbar">
    <%= link_to 'Add Post', new_post_path, class:'btn btn-secondary' %>
    <%= link_to 'Posts', posts_path, class:'btn btn-secondary' %>
  </div>
</div>
<hr />
