<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Built with <%= link_to 'Outside CMS', 'https://github.com/benjaminayres/o_cms' %> <%= Time.now.strftime("%Y")%>
    </span>
  </div>
</footer>
