<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Built by <%= link_to 'Outside', 'https://outsidehq.co.uk' %> <%= Time.now.strftime("%Y")%>
    </span>
  </div>
</footer>
