<header class="top">
  <div class="container">
    <nav class="navbar navbar-dark">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="navbar-header">
        <%= link_to 'OCMS', o_cms.root_path, :class => 'navbar-brand' %>
        <%= render :partial => 'o_cms/partials/primary_navigation' %>
        <%= render :partial => 'o_cms/partials/user_navigation' %>
      </div>
    </nav>
  </div>
</header>
