<ul class="nav navbar-nav primary-nav">
  <li class="nav-item">
    <%= link_to '<i class="fa fa-home-mdc"></i> Your site'.html_safe, main_app.root_path, :class => 'nav-link' %>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="#"><i class="fa fa-page-copy"></i> Pages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= o_cms.posts_path %>"><i class="fa fa-pin"></i> Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= o_cms.images_path %>"><i class="fa fa-image"></i> Library</a>
  </li>
</ul>
