<ul class="nav navbar-nav account-nav pull-md-right user-nav">
  <li class="nav-item">
    <%= link_to '<i class="fa fa-cog"></i>'.html_safe + current_user.email, main_app.edit_user_registration_path, :class => 'nav-link'  %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign Out <i class="fa fa-sign-out"></i>'.html_safe, main_app.destroy_user_session_path, :method => :delete, :class => 'btn btn-success-outline btn-sm' %>
  </li>
</ul>
